/* intestazione */
header{
  background-color: rgb(78,160,255);
  background-image: url(img/pattern.png);
  height: 200px;
}
#logo{
  margin-top: 90px;
  height: 150px;
  width: 200px;
}
/* intestazione  */

/* titolo  */
h1{
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 0;
}

#autore{
  color: rgb(78,160,255);
}
.data,#informazioni,.aggiunte{
  color:gray;
}
.data{
  margin-bottom: 20px;
/* titolo  */

/* foto  */
}
.descrizione-foto{
  font-size:0.7em;
}
/* foto  */

/* testo principale */
.testo-importante{
  background-color: yellow;
}
/* testo principale */

/* tabella */
th{
  background-color: rgb(78,160,255);
  color: white;
}
.riga-azzurra{
  background-color: rgb(177,229,242);
}
/* tabella */

/* extra */
.extra{
  width: 300px;
  height: 200px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.extra.uno{
  background-image: url(img/graph.jpg);
  
}
.extra.due{
  margin-top: 10px;
  background-image: url(img/monitor.jpg);
}